*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: rgb(19, 30, 39);
    padding-left: 120px;
    padding-right: 120px;
}

nav p{
    font-family:  "Audiowide", sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 23px;
    color: white;
    padding-left: 120px;
}
nav span{
    color:rgb(69, 238, 187)
}



nav li{
    list-style: none;
    display: inline;
    padding: 10px;
}
nav ul{
    padding-right: 120px;

}
nav{
    background-color:  rgb(25, 41, 54);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px ;

}
nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: .4s ease;
    transition: .7s ease;

}
nav a:hover{
    text-shadow: 7px 7px  17px rgb(35, 255, 226);
    color:rgb(35, 255, 226) ;
}


.present{
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    border-right:solid 5px   rgb(69, 238, 187);
    border-bottom: solid 5px  rgb(69, 238, 187);
<<<<<<< HEAD
=======
    height: 550px;
>>>>>>> e2a455b060d43aa4681e443b5388b6c5930b80db

  

}
.present a{
    text-decoration: none;
}
.perso .name{
    color: white;
    font-size: 27px;
}
.perso{
    position: relative;
    animation: move 1s ease ;

}
.perso .name span{
    color:rgb(69, 238, 187);
}
.perso h3{
    font-size: 40px;
    color: rgb(69, 238, 187);
    padding-top: 20px;

}
.perso .class{
    color: white;
    font-size: 27px;
    padding-top: 10px;

}
.perso .infos{
    font-size: 18px;
    color: rgb(192, 192, 192);
    padding-top: 25px;

}
.image img{
    padding: 0;
    width: 130%;
    position: relative;
    top: -150px;
    animation: lefte 3s  ;


}

.image{
    background-color:rgb(19, 30, 39); 
}

.link {
    margin-top: 30px;
    padding: 12px 15px;
    background-color: rgb(69, 238, 187);
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: .4s ease;
    position: relative;
    animation: monte  2s ;
}
.socio{
   padding-top: 30px;
}
.socio img{
    padding: 11px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    transition: .4s ease;
    animation: lefte 2s ease ;
}
.socio img:hover{
    border: solid 4px rgb(35, 255, 226);
    box-shadow:5px 5px 25px rgb(35, 255, 226);
}
.link a{
    color: white;
}
.link:hover{
    background-color: rgb(35, 255, 226);
    box-shadow: 3px 3px 10px rgb(13, 250, 238);
    transform: translatey(-20%);
}

@keyframes lefte {
    0%{
         top: -300px;
         visibility: hidden;
     }    
     50%{
        top: -2500px;
        visibility: hidden;
     } 
     75%{
        top: -200px;
        visibility: hidden;
     }
     85%{
        top: -185px;
        visibility: visible;
     }

     100%{
        top: -150px; 
        visibility: visible; 
     }
   
 }

@keyframes circle {
    0%{
        background:linear-gradient(rgb(45, 233, 247),rgb(7, 132, 136),rgb(85, 177, 180));
        
    }
    25%{
        background:linear-gradient(rgb(22, 196, 202),rgb(152, 231, 221),rgb(164, 217, 248));
    }
    75%{
        background:linear-gradient(rgb(41, 255, 209)rgb(59, 0, 110),rgb(65, 193, 216));
    }
    100%{
        background:linear-gradient(rgb(19, 133, 123),rgb(37, 207, 185)rgb(25, 149, 187));
    }
}

@keyframes move{
    from{
        top: 0;
        left: -1000px;
    }
    to{
        left: 0px;
        top: initial;
    }
}



@keyframes monte {
   0%{
        bottom: 0px;
        visibility: hidden;
    }    
    80%{
       top: 100px; 
       visibility: hidden;
    }
    100%{
       top: 0px; 
       visibility: visible; 
    }
  
}

.cadre img{
    position: relative;
    width: 130%;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(25, 41, 54);
    border-radius: 5px;
    transition: .4s ease;
    animation: move 2s ;
}
.cadre img:hover{
    transform: translatey(-5%);
}
.introd{
   display: flex;
   flex-direction: row;
   padding-top: 100px;
}
.introd h2{
    color: rgb(69, 238, 187);
    font-size: 45px;
}
.introd .text {
    padding-top: 30px;
    color: rgb(218, 218, 218);
    font-size: 20px;
    line-height: 30px;
}    
.introd .infos{
    position: relative;
    padding-left: 140px;
    animation: lefterr 4s ease;
}

.introd button{
    border: none;
    outline: none;
    padding: 10px 17px;
    font-size: 19px;
<<<<<<< HEAD
    border-radius: 10px;
=======
    border-radius: 6px;
>>>>>>> e2a455b060d43aa4681e443b5388b6c5930b80db
    margin-top: 25px;
    color: white;
    background-color:  rgb(69, 238, 187);
    transition: .4s ease;

}
.introd button:hover{
    background-color: rgb(35, 255, 226);
    box-shadow: 5px 5px 10px rgb(13, 250, 238);
    transform: translatey(-20%);
}
.all{
    display: none;
}
.all h2{
    text-align: center;
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 20px;
    color:rgb(69, 238, 187) ;
}
.block{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.bloc1,.bloc2,.bloc3{
    position: relative;
    background-color: rgb(25, 41, 54);
    margin: 10px;
    border-radius: 10px;
    transition: .7s ease;
    cursor: pointer;
}
.bloc2 img{
    width: 80%;
} 
.block .overlay{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    background-color:rgba(69, 238, 187,.5) ;
    transition: .5s ease;
    border-radius: 10px;
}
.block p{
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color :white;
    font-size: 19px;
    text-align :center;

}
.bloc1:hover .overlay{
    height: 100%;
}
.bloc1:hover{
    transform: translatey(-15%);
}
.bloc2:hover .overlay{
    height: 100%;
}
.bloc2:hover{
    transform: translatey(-15%);
}
.bloc3:hover .overlay{
    height: 100%;
}
.bloc3:hover{
    transform: translatey(-15%);
}

@keyframes lefterr {
    0%{
         top: -300px;
         visibility: hidden;
     } 
     50%{
        visibility: hidden;
     } 
     75%{
        top: 0px;
        visibility: visible;
     }  
    
     100%{
        top: initial; 
        visibility: visible; 
     }
   
 }
 .total{
   
 }
 
 
 .call{
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    padding-bottom: 100px;

 }
 
 .call h1{
    font-size: 50px;
    padding-bottom: 20px;
    color:rgb(69, 238, 187)
 }
 .call p{
    color: rgb(218, 218, 218);
    font-size: 20px;
    line-height: 30px;
 }

 form{
    padding:100px 170px 100px 170px;
    background-color:  rgb(25, 41, 54);
    margin-left: 30px;
    border-radius: 15px;
    border-top:solid 5px   rgb(69, 238, 187);
    border-bottom:solid 5px   rgb(69, 238, 187);
    transition: .4s ease;
 }
 form:hover{
    transform: translatey(-5%);

 }
 form .coment{
    display: block;
 }
 label{
    display: block;
    color: white;
    font-size: 19px;
 }
 .coment input,textarea{
    border: 0;
    outline: 0;
    padding: 15px 14px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    opacity: .1;
 }
 form .btn{
    border: none;
    outline: none;
    padding: 10px 17px;
    font-size: 19px;
    border-radius: 10px;
    margin-top: 25px;
    color: white;
    background-color:  rgb(69, 238, 187);
    transition: .4s ease;
    margin-left: 15px;

 }
 form .btn:hover{
    background-color: rgb(35, 255, 226);
    box-shadow: 5px 5px 10px rgb(13, 250, 238);
    transform: translatey(-20%);
 } 
 footer{
    background-color:  rgb(25, 41, 54);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px ;

 }   

footer p{
    font-family:  "Audiowide", sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 23px;
    color: rgb(255, 255, 255);
    padding-left: 120px;
    padding-top: 20px;  
}
footer span{
    color:rgb(69, 238, 187)

}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.foot li{
    list-style: none;
    padding: 2px; 
}
.foot ul{
    padding-left: 400px;
}
.foot a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}
.foot a:hover{
    text-decoration: underline;
    color:rgb(69, 238, 187);
}
.reseaux{
    padding-top: 20px;
    padding-left: 300px;
}
.reseaux img{
    pa
    padding-left: 10px;

    
}